<h1><投稿内容></h1>
<body>
<%= form_with model: @post, url: post_path, method: :patch do |f| %>
  <table border="1" class="form-table">
    <tr>
      <td class="form-item">投稿画像</td>
      <td class="form-item-input"><%= image_tag @post.get_profile_image(300,200), style: "width: 200px; height: 200px; object-fit:cover", class: "form-control"  %></td>
    </tr>
    <tr>
      <td class="form-item">CPU</td>
      <td class="form-item-input"><%= f.text_field :cpu, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">CPU種類</td>
      <td class="form-item-input"><%= f.select :cpu_kind, Post.cpu_kinds.keys.to_a, {}, class: 'form-control' %></td>
    </tr>
    <tr>
      <td class="form-item">CPU型番</td>
      <td class="form-item-input"><%= f.text_field :cpu_model_number, class: "form-control" %></td>
    </tr>

    <tr>
      <td class="form-item">マザーボード</td>
      <td class="form-item-input"> <%= f.text_field :motherboard, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">メモリ</td>
      <td class="form-item-input"><%= f.text_field :memory, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">電源ユニット</td>
      <td class="form-item-input"><%= f.text_field :power_supply_unit, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">筐体</td>
      <td class="form-item-input"><%= f.text_field :computer_case, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">HDD</td>
      <td class="form-item-input"><%= f.text_field :hdd, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">SSD</td>
      <td class="form-item-input"><%= f.text_field :ssd, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">CPUクーラー</td>
      <td class="form-item-input"><%= f.text_field :cpu_cooler, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">グラフィックボード</td>
      <td class="form-item-input"><%= f.text_field :graphics_board, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">合計金額</td>
      <td class="form-item-input"><%= f.text_field :total_price, class: "form-control" %></td>
    </tr>
    <tr>
      <td class="form-item">コメント</td>
      <td class="form-item-input"><%= f.text_field :comment, class: "form-control" %></td>
    </tr>

  </table>
<br>
<%= f.submit '編集内容を保存', class: "btn btn-success" %>
<% end %>
</body>