<% if @admin.errors.any? %>
  <%= @admin.errors.count %>件のエラーが発生しました
  <ul>
    <% @admin.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="field">
    <div class="form-group">
      <p class="alert"><%= alert %></p>
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <%= f.label :パスワード %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
