<h1><投稿詳細></h1>
<body>
  <table border="1">
    <tr>
      <th>CPU</th>
      <th><%= @customers.post.cpu %></th>
    </tr>
    <tr>
      <td>マザーボード</td>
      <td><%= @customers.post.motherboard %></td>
    </tr>
    <tr>
      <td>メモリ</td>
      <td><%= @customers.post.memory %></td>
    </tr>
    <tr>
      <td>電源ユニット</td>
      <td><%= @customers.post.power_supply_unit %></td>
    </tr>
    <tr>
      <td>筐体</td>
      <td><%= @customers.post.computer_case %></td>
    </tr>
    <tr>
      <td>HDD</td>
      <td><%= @customers.post.hdd %></td>
    </tr>
    <tr>
      <td>SSD</td>
      <td><%= @customers.post.ssd %></td>
    </tr>
    <tr>
      <td>CPUクーラー</td>
      <td><%= @customers.post.cpu_cooler %></td>
    </tr>
    <tr>
      <td>グラフィックボード</td>
      <td><%= @customers.post.graphics_board %></td>
    </tr>
    <tr>
      <td>合計金額</td>
      <td><%= @customers.post.total_price %></td>
    </tr>
    <tr>
      <td>コメント</td>
      <td><%= @customers.post.comment %></td>
    </tr>

  </table>
</body>