<h1><投稿内容更新></h1>
<body>
<%= render "public/shared/error_messages", resource: @post %>
<%= form_with model: @post, url: admin_post_path, method: :patch do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <tr>
          <td>投稿画像</td>
          <td><%= image_tag @post.get_profile_image(300,200), style: "width: 200px; height: 200px; object-fit:cover", class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">CPU</td>
          <td class="form-item-input"> <%= f.text_field :cpu, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">CPU種類</td>
          <td class="form-item-input"><%= f.select :cpu_kind, Post.cpu_kinds.keys.to_a, {}, class: 'form-control' %></td>
        </tr>
        <tr>
          <td class="form-item">CPU型番</td>
          <td class="form-item-input"><%= f.text_field :cpu_model_number, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">マザーボード</td>
          <td class="form-item-input"> <%= f.text_field :motherboard, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">メモリ</td>
          <td class="form-item-input"><%= f.text_field :memory, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">電源ユニット</td>
          <td class="form-item-input"><%= f.text_field :power_supply_unit, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">筐体</td>
          <td class="form-item-input"><%= f.text_field :computer_case, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">HDD</td>
          <td class="form-item-input"><%= f.text_field :hdd, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">SSD</td>
          <td class="form-item-input"><%= f.text_field :ssd, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">CPUクーラー</td>
          <td class="form-item-input"><%= f.text_field :cpu_cooler, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">グラフィックボード</td>
          <td class="form-item-input"><%= f.text_field :graphics_board, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">合計金額</td>
          <td class="form-item-input"><%= f.text_field :total_price, class: "form-control" %></td>
        </tr>
        <tr>
          <td class="form-item">コメント</td>
          <td class="form-item-input"><%= f.text_field :comment, class: "form-control" %></td>
        </tr>

      </table>
    </div>
  </div>
  <br>
<%= f.submit '編集内容を保存', class: "btn btn-success" %>
<% end %>
<div class="row">
  <div class="col-sm-4">
    <table class= "table">
      <p>コメント一覧</p>
      <tr>
        <td>名前</td>
        <td>コメント日</td>
        <td>内容</td>
        <td>コメント削除</td>
      </tr>
    <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.customer.first_name %></td>
        <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= comment.body %></td>
        <td><%= link_to "削除", admin_comment_path(comment.id), method: :delete, data: { confirm: "【確認】コメントを削除してもよろしいですか？" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
</body>