<h1><投稿内容更新></h1>
<body>
<%= form_with model: @post, url: admin_post_path, method: :patch do |f| %>
  <table border="1">
    <tr>
      <th>投稿画像</th>
      <th><%= image_tag @post.get_profile_image(300,200), style: "width: 200px; height: 200px; object-fit:cover" %></th>
    </tr>
    <tr>
      <th>CPU</th>
      <th> <%= f.text_field :cpu %>　</th>
    </tr>
    <tr>
      <th>CPU種類</th>
      <td><%= f.select :cpu_kind, Post.cpu_kinds.keys.to_a, {}, class: 'form-control' %></td>
    </tr>
    <tr>
      <th>CPU型番</th>
      <th> <%= f.text_field :cpu_model_number %>　</th>
    </tr>
    <tr>
      <td>マザーボード</td>
      <td> <%= f.text_field :motherboard %></td>
    </tr>
    <tr>
      <td>メモリ</td>
      <td><%= f.text_field :memory %></td>
    </tr>
    <tr>
      <td>電源ユニット</td>
      <td><%= f.text_field :power_supply_unit %></td>
    </tr>
    <tr>
      <td>筐体</td>
      <td><%= f.text_field :computer_case %></td>
    </tr>
    <tr>
      <td>HDD</td>
      <td><%= f.text_field :hdd %></td>
    </tr>
    <tr>
      <td>SSD</td>
      <td><%= f.text_field :ssd %></td>
    </tr>
    <tr>
      <td>CPUクーラー</td>
      <td><%= f.text_field :cpu_cooler %></td>
    </tr>
    <tr>
      <td>グラフィックボード</td>
      <td><%= f.text_field :graphics_board %></td>
    </tr>
    <tr>
      <td>合計金額</td>
      <td><%= f.text_field :total_price %></td>
    </tr>
    <tr>
      <td>コメント</td>
      <td><%= f.text_field :comment %></td>
    </tr>

  </table>
<br>
<%= f.submit '編集内容を保存', class: "btn btn-success" %>
<% end %>

<table border="1">
  <p>コメント一覧</p>
  <tr>
    <td>名前</td>
    <td>コメント日</td>
    <td>内容</td>
    <td>コメント削除</td>
  </tr>
<% @post.comments.each do |comment| %>
  <tr>
    <td><%= comment.customer.first_name %></td>
    <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
    <td><%= comment.body %></td>
    <td><%= link_to "削除", admin_comment_path(comment.id), method: :delete, data: { confirm: "【確認】コメントを削除してもよろしいですか？" }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
  </table>


</body>