<h1>自作PC投稿一覧</h1>

<table class="table table-striped">
  <tr>
    <th>投稿者名</th>
    <th>投稿日</th>
    <th>CPU</th>
    <th>コメント</th>
    <th>詳細</th>
    <th>投稿情報削除</th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.customer.last_name %><%= post.customer.first_name %></td>
    <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
    <td><%= post.cpu %></td>
    <td><%= post.comment %></td>
    <td><%= link_to '編集する', edit_admin_post_path(post.id), class: "btn btn-success" %></td>
    <td><%= link_to "削除", admin_post_path(post.id), method: :delete, data: { confirm: "【確認】投稿情報を削除してもよろしいですか？" }, class: "btn btn-danger" %></td>

  </tr>

<% end %>

</table>