<h1>ログイン</h1>
<h3>会員の方はこちらからログイン</h3>

<%= form_with model: @customer, url: customer_session_path do |f| %>
  <p class="alert"><%= alert %></p>
  <div class="field">
    <div class="form-group">
    <%= f.label :メールアドレス %></td>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
    <td><%= f.label :パスワード %></td>
    <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
    </div>
  </div>
  </tr>
</table>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<p>・会員登録がお済みでない方
<%=link_to "こちら", new_customer_registration_path %>
から新規登録を行ってください。</p>
<br>
<p>・投稿一覧を閲覧したい方は
<%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post %>
で閲覧可能です。</p>