<!DOCTYPE html>
<html>
  <head>
    <title>HomeMadePc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/646e519716.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg header_style navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>HomeMadePc</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
              <li>
                <%=link_to root_path, class: "btn btn-info" do%>
                トップページ
                <%end%>
              </li>
              <li>
                <%=link_to root_path, class: "btn btn-info" do%>
                トップページ
                <%end%>
              </li>
              <li>
                <%=link_to posts_path, class: "btn btn-info" do%>
                投稿一覧
                <%end%>
              </li>
              <li>
                <%=link_to customers_path, class: "btn btn-info" do%>
                マイページ
                <%end%>
              </li>
              <li>
                <%=link_to destroy_customer_session_path, method: :delete, class: "btn btn-info" do%>
                ログアウト
                <% end %>
              </li>
              <% elsif admin_signed_in? %>
              <li>
                <%= link_to admin_root_path, class: "btn btn-info" do %>
                  トップページ
                <% end %>
              </li>
              <li>
                <%=link_to admin_posts_path, class: "btn btn-info" do%>
                  投稿一覧
                <%end%>
              </li>
              <li>
                <%=link_to admin_customers_path, class: "btn btn-info" do%>
                 ユーザー一覧
                <%end%>
              </li>
              <li>
                <%=link_to destroy_admin_session_path, method: :delete, class: "btn btn-info" do%>
                 ログアウト
                <%end%>
              </li>
              <% else %>
              <li>
                <%=link_to root_path, class: "btn btn-info" do%>
                トップページ
                <%end%>
              </li>
              <li>
                <%=link_to new_customer_registration_path, class: "btn btn-info" do%>
                新規登録
                <%end%>
              </li>
              <li>
                <%=link_to about_path, class: "btn btn-info" do%>
                About
                <%end%>
              </li>
              <li>
                <%=link_to new_customer_session_path, class: "btn btn-info" do%>
                ログイン
                <%end%>
              </li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <%= flash[:notice] %>
      <%= yield %>
    </main>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
  <footer class="text-white pt-3 pb-2 footer_style">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4">
          <p>楽天API</p>
          <p>Copyright © Kacha. All Rights Reserved.</p>
        </div>
        <div class="col-md-8">
          <ul class="p-0 list-unstyled">
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
